//div(ng-init="init()", id="education", data-spy="scroll")
    h1 Education


//div(ng-init="init()", id="education")
    h1 {{title}}




    p BLALBLA
    p BLALBLA
    p BLALBLA
    p BLALBLA
    br
    p BLALBLA
    p BLALBLA
    p BLALBLA
    p BLALBLA
    p BLALBLA
    p BLALBLA
    br
    p BLALBLA
    p BLALBLA

    div(id='test1')
        h1 TET 1
        h2 OK

    p BLALBLA
    p BLALBLA
    p BLALBLA
    p BLALBLA
    br
    p BLALBLA
    p BLALBLA
    p BLALBLA
    p BLALBLA
    p BLALBLA
    p BLALBLA
    br
    p BLALBLA
    p BLALBLA
        div(id='test2')
        h1 TET 1
        h2 OK