div(ng-init="init()", anim="fadeIn")

    div(style="background: url(land.jpg) no-repeat center center fixed;-webkit-background-size: cover;background-size:cover;-moz-background-size:cover")
        section.box(id="home")
            div(style="text-align:center;width:100%")

                    span(class="fa-stack fa-5x")
                        i(class="fa fa-square fa-stack-2x")
                        i(class="fa fa-bolt fa-stack-1x fa-inverse ")
                    h1 {{home}}
                    h4(style="font-style:italic") {{homeDescription}}

            .row(style="text-align:center;margin-top:80px")
                .col-xs-4
                    span(class="fa-stack fa-4x")
                        i(class="fa fa-square fa-stack-2x")
                        i(class="fa fa-cloud fa-stack-1x fa-inverse ")
                    h3 Back End
                    h5(style='font-style:italic') RESTful APIS development based on Node.js
                .col-xs-4
                    span(class="fa-stack fa-4x")
                        i(class="fa fa-square fa-stack-2x")
                        i(class="fa fa-mobile fa-stack-1x fa-inverse ")
                    h3 Mobile Development
                    h5(style="font-style:italic") Native and Web Android Application
                .col-xs-4
                    span(class="fa-stack fa-4x")
                        i(class="fa fa-square fa-stack-2x")
                        i(class="fa fa-desktop fa-stack-1x fa-inverse ")
                    h3 User Interface Design
                    h5(style="font-style:italic") User Experience First


                //div(id='canvas', ng-click='draw()')
                        span(class="fa-stack fa-4x")
                            i(class="fa fa-square fa-stack-2x")
                            i(class="fa fa-desktop fa-stack-1x fa-inverse ")
                        h3 User Interface Design
                        h2 TEst

        .emptyBox(style="height:500px;background:inherit")

    div(style="background: url(land.jpg) no-repeat center center fixed;-webkit-background-size: cover;background-size:cover;-moz-background-size:cover")
        section.box(id="education")
            div(style="text-align:center;margin-bottom:50px")
                span(class="fa-stack fa-5x")
                    i(class="fa fa-square fa-stack-2x")
                    i(class="fa fa-graduation-cap fa-stack-1x fa-inverse ")
                h1 EDUCATION
            .row
                .col-xs-4
                    .panel.panel-default.specific(style="border-radius: 10px;", ng-click="changeMode(0)")
                        .panel-body
                            h3(style="text-align:center") Education 1
                            hr(class="style-one")
                            p Details ...
                .col-xs-4
                    .panel.panel-default.specific(style="border-radius: 10px;",ng-click="changeMode(1)")
                        .panel-body
                            h3(style="text-align:center") Education 2
                            hr(class="style-one")
                            p Details ...
                .col-xs-4
                    .panel.panel-default.specific(style="border-radius: 10px;",ng-click="changeMode(2)")
                        .panel-body
                            h3(style="text-align:center") Education 3
                            hr(class="style-one")
                            p Details ...
            .row
                .col-xs-12
                    .panel.panel-default(style="border-radius: 10px;")
                        .panel-body
                            p Details ...
                            //details one
                            div(id="detailsOne", ng-show="mode==0")
                                p Details One

                            //details one
                            div(id="detailsTwo", ng-show="mode==1")
                                p Details Two

                            //details one
                            div(id="detailsThree", ng-show="mode==2")
                                p Details Three

        .emptyBox(style="height:500px;background:inherit")


    div(style="background: url(land.jpg) no-repeat center center fixed;-webkit-background-size: cover;background-size:cover;-moz-background-size:cover")
        section.box(id="experience")
            div(style="text-align:center")
                span(class="fa-stack fa-5x")
                    i(class="fa fa-square fa-stack-2x")
                    i(class="fa fa-road fa-stack-1x fa-inverse ")
                h1 EXPERIENCE

            .panel-group(id="accor")
                .panel.panel-default
                    .panel-heading(style='background:#778899;color:white;')
                            //p(data-toggle="collapse", data-parent="#accor", href="#theone",onclick="return false;") CrashTEst
                            .row(style='background:#778899;color:white;',data-toggle="collapse", data-parent="#accor", href="#theone",onclick="return false;")
                                .col-xs-4(style="text-align:right;")
                                    h2 INFOTEL Conseil
                                    h5 Six month, 2014
                                .col-xs-6(style="margin-left:30px;border-left:1px dashed white;")
                                    h2 Titre du stage
                                    h3 Description
                    div.panel-collapse.collapse(id="theone")
                        .panel-body
                            h2 Contexte du projet
                            p Blablabla
                            br
                            h2 Skills
                            p Les skills
                            br

                .panel.panel-default
                    .panel-heading(style='background:#fff')
                        .row(data-toggle="collapse", data-parent="#accor", href="#thetwo",onclick="return false;")
                            .col-xs-6.col-xs-offset-1(style='border-right:1px dashed #778899')
                                h2 Titre du stage
                                h3 Description
                            .col-xs-4(style="text-align:left;")
                                h2 AERODRONES
                                h5 Four month, 2013
                    div.panel-collapse.collapse(id="thetwo")
                        .panel-body(style='background:#778899;color:white;')
                            h2 Contexte du projet
                            p Blablabla
                            br
                            h2 Skills
                            p Les skills
                            br
                .panel.panel-default
                    .panel-heading(style='background:#778899;color:white;')
                        .row(data-toggle="collapse", data-parent="#accor", href="#thethredd",onclick="return false;")
                            .col-xs-4(style="text-align:right")
                                h2 SOCATA
                                h5 One month, 2009
                            .col-xs-6(style="margin-left:30px;border-left:1px dashed white;")
                                h2 Titre du stage
                                h3 Description
                            a CrashTEst 2
                    div.panel-collapse.collapse(id="thethredd")
                        .panel-body
                            h2 Contexte du projet
                            p Blablabla
                            br
                            h2 Skills
                            p Les skills
                            br



        .emptyBox(style="height:500px;background:inherit")

    div(style="background: url(land.jpg) no-repeat center center fixed; -webkit-background-size: cover;background-size:cover;-moz-background-size:cover")
        section.box(id="skills")
            div(style="text-align:center")
                span(class="fa-stack fa-5x")
                    i(class="fa fa-square fa-stack-2x")
                    i(class="fa fa-keyboard-o fa-stack-1x fa-inverse ")
                h1 COMPUTER SKILLS
            h2(style="margin-bottom:20px") Computer Skills
            h4 Langages
            hr(class="style-one")
            .row
                button.btn.btn-default.col-md-2(ng-repeat="skill in skillLangages",style="margin-left:10px; margin-bottom:10px") {{skill.nom}}
                    br
                    .progress.progress-striped.active(style="margin-top:20px")
                        .progress-bar(style="width:{{skill.niveau}}%")

            h4 Front-end
            hr(class="style-one")
            .row
                button.btn.btn-default.col-md-2(ng-repeat="skill in skillFront",style="margin-left:10px; margin-bottom:10px") {{skill.nom}}
                    br
                    .progress.progress-striped.active(style="margin-top:20px")
                        .progress-bar(style="width:{{skill.niveau}}%")

            h4 Back-end
            hr(class="style-one")
            .row
                button.btn.btn-default.col-md-2(ng-repeat="skill in skillFront",style="margin-left:10px; margin-bottom:10px") {{skill.nom}}
                    br
                    .progress.progress-striped.active(style="margin-top:20px")
                        .progress-bar(style="width:{{skill.niveau}}%")

            h4 Other
            hr(class="style-one")
            .row
                button.btn.btn-default.col-md-2(ng-repeat="skill in skillOther",style="margin-left:10px; margin-bottom:10px") {{skill.nom}}
                    br
                    .progress.progress-striped.active(style="margin-top:20px")
                        .progress-bar(style="width:{{skill.niveau}}%")

        .emptyBox(style="height:500px;background:inherit")

    div(style="background: url(land.jpg) no-repeat center center fixed; -webkit-background-size: cover;background-size:cover;-moz-background-size:cover")
        section.box(id="about")
            div.container-fluid(style="text-align:center")
                span(class="fa-stack fa-5x")
                    i(class="fa fa-square fa-stack-2x")
                    i(class="fa fa-coffee fa-stack-1x fa-inverse ")
                h1 ABOUT
                .row
                    .col-xs-4
                        .view.view-first
                            img(src="blog.png")
                            .mask
                                h2 Hover 1
                                p TEETETET
                    .col-xs-4
                        .view.view-second
                            img(src="/css/13.jpg")
                            .mask
                                h2 Hover 2
                                p TEETETET
                    .col-xs-4
                        .view.view-third
                            img(src="/css/13.jpg")
                            .mask
                                h2 Hover 3
                                p TEETETET
                .row
                    .col-xs-4
                        .view.view-fourth
                            img(src="blog.png")
                            .mask
                                h2 Hover 4
                                p TEETETET
                    .col-xs-4
                        .view.view-fifth
                            img(src="/css/13.jpg")
                            .mask
                                h2 Hover 5
                                p TEETETET
                    .col-xs-4
                        .view.view-sixth
                            img(src="/css/13.jpg")
                            .mask
                                h2 Hover 6
                                p TEETETET
                .row
                    .col-xs-4
                        .view.view-seventh
                            img(src="blog.png")
                            .mask
                                h2 Hover 7
                                p TEETETET
                    .col-xs-4
                        .view.view-eighth
                            img(src="/css/13.jpg")
                            .mask
                                h2 Hover 8
                                p TEETETET
                    .col-xs-4
                        .view.view-tenth
                            img(src="/css/13.jpg")
                            .mask
                                h2 Hover 9
                                p TEETETET
        .emptyBox(style="height:500px;background:inherit")

    div(style="background: url(land.jpg) no-repeat center center fixed; -webkit-background-size: cover;background-size:cover;-moz-background-size:cover")
        section.box(id="blog")
            div(style="text-align:center")
                span(class="fa-stack fa-5x")
                    i(class="fa fa-square fa-stack-2x")
                    i(class="fa fa-comment-o fa-stack-1x fa-inverse ")
                h1 BLOG
            h3(style='text-align:center') Currently under construction
        .emptyBox(style="height:500px;background:inherit")

    section.container-fluid(id="contact", style="background:#778899;color:white")
        div(style="text-align:center;margin-bottom:50px;margin-top:30px")
            h1(style="text-decoration:underline;") Contact
        .row(style="text-align:center")
            .col-xs-3.contact.grow(onclick='window.location.href= "mailto:beardpierre@gmail.com?subject=Info%Or%Meeting";')
                i(class="fa fa-paper-plane-o fa-3x fa-inverse ")
                h5 beardpierre@gmail.com
            .col-xs-3.contact.grow
                i(class="fa fa-phone fa-3x fa-inverse ")
                h5 (+33)6.33.37.08.52
                h5 French Number
            .col-xs-3.contact.grow(onclick='window.location.href="http://github.com/PBRT";')
                i(class="fa fa-github fa-3x fa-inverse ")
                h5 @PBRT
            .col-xs-3.contact.grow(onclick='window.location.href="http://fr.linkedin.com/pub/pierre-beard/62/690/4b0/";')
                i(class="fa fa-linkedin-square fa-3x fa-inverse ")
                h5 LinkedIn

