div(ng-init="init()", anim="fadeIn")

    div(style="background: url(images/Travel/tr15.JPG) no-repeat center center fixed;-webkit-background-size: cover;background-size:cover;-moz-background-size:cover")
        section.box(id="home")
            div(style="text-align:center;width:100%")

                    span(class="fa-stack fa-5x")
                        i(class="fa fa-square fa-stack-2x")
                        i(class="fa fa-bolt fa-stack-1x fa-inverse ")
                    h1 {{home}}
                    h4(style="font-style:italic") {{homeDescription}}

            .row(style="margin-top:80px")
                .col-xs-1.col-xs-offset-2
                    i(class="fa fa-quote-left fa-5x ")
                .col-xs-8
                    h1(style="font-size:60px") Software do it better
                .col-xs-1
                    i(class="fa fa-quote-right fa-5x ")
            //.row(style="margin-top:-10px")
                .col-xs-8.col-xs-offset-3


            .row(style="text-align:center;margin-top:80px")
                .col-xs-4
                    span(class="fa-stack fa-4x")
                        i(class="fa fa-square fa-stack-2x")
                        i(class="fa fa-cloud fa-stack-1x fa-inverse ")
                    h3 Back End
                    h5(style='font-style:italic') RESTful APIS development based on Node.js
                .col-xs-4
                    span(class="fa-stack fa-4x")
                        i(class="fa fa-square fa-stack-2x")
                        i(class="fa fa-mobile fa-stack-1x fa-inverse ")
                    h3 Mobile Development
                    h5(style="font-style:italic") Native and Web Android Application
                .col-xs-4
                    span(class="fa-stack fa-4x")
                        i(class="fa fa-square fa-stack-2x")
                        i(class="fa fa-desktop fa-stack-1x fa-inverse ")
                    h3 User Interface Design
                    h5(style="font-style:italic") User Experience First
            .row(style="margin-top:80px")
                .col-xs-10.col-xs-offset-1
                    hr(class="style-three")

            .row(style="text-align:center;margin-top:50px")
                h2(style="margin-bottom:50px") Website built with the latest web technologies
                .col-xs-4(onclick="window.open('https://sailsjs.org/#!', '_blank')")
                    .panel.panel-default.specific(style="border-radius: 10px;", ng-click="changeMode(0)")
                        .panel-body
                            img(src="/images/Icons/sails.png", style="width:250px;height:100px")
                            h4 SailsJS (Back-end based on NodeJS)

                .col-xs-4(onclick="window.open('http://getbootstrap.com/', '_blank')")
                    .panel.panel-default.specific(style="border-radius: 10px;", ng-click="changeMode(0)")
                        .panel-body
                            img(src="/images/Icons/bootstrap.png", style="width:100px;height:100px")
                            h4 Bootstrap (Built to be responsive)

                .col-xs-4(onclick="window.open('http://angularjs.org/', '_blank')")
                    .panel.panel-default.specific(style="border-radius: 10px;", ng-click="changeMode(0)")
                        .panel-body
                            img(src="/images/Icons/angular.png", style="width:100px;height:100px")
                            h4 AngularJS (Front-end)

            .row(style="text-align:center;margin-top:50px")
                .col-xs-2(onclick="window.open('http://www.mongodb.org/', '_blank')")
                    .panel.panel-default.specific(style="border-radius: 15px;", ng-click="changeMode(0)")
                        .panel-body
                            img(src="/images/Icons/mongodb.png", style="width:120px;height:90px;margin-bottom:10px")
                            h5 MongoDB
                .col-xs-2(onclick="window.open('http://nodejs.org/', '_blank')")
                    .panel.panel-default.specific(style="border-radius: 15px;", ng-click="changeMode(0)")
                        .panel-body
                            img(src="/images/Icons/nodejs.png", style="width:120px;height:90px;margin-bottom:10px")
                            h5 NodeJS
                .col-xs-2(onclick="window.open('https://developers.google.com/maps/?hl=FR', '_blank')")
                    .panel.panel-default.specific(style="border-radius: 15px;", ng-click="changeMode(0)")
                        .panel-body
                            img(src="/images/Icons/gmap.jpg", style="width:120px;height:90px;margin-bottom:10px")
                            h5 Google Maps
                .col-xs-2(onclick="window.open('http://www.w3.org/TR/html5/', '_blank')")
                    .panel.panel-default.specific(style="border-radius: 15px;", ng-click="changeMode(0)")
                        .panel-body
                            img(src="/images/Icons/html5.png", style="width:120px;height:90px;margin-bottom:10px")
                            h5 HTML5
                .col-xs-2(onclick="window.open('http://www.w3schools.com/css/css3_intro.asp', '_blank')")
                    .panel.panel-default.specific(style="border-radius: 15px;", ng-click="changeMode(0)")
                        .panel-body
                            img(src="/images/Icons/css3.png", style="width:120px;height:90px;margin-bottom:10px")
                            h5 CSS3
                .col-xs-2(onclick="window.open('http://gruntjs.com/', '_blank')")
                    .panel.panel-default.specific(style="border-radius: 15px;", ng-click="changeMode(0)")
                        .panel-body
                            img(src="/images/Icons/grunt.png", style="width:120px;height:90px;margin-bottom:10px")
                            h5 Grunt


        .emptyBox(style="height:500px;background:inherit")

    div(style="background: url(images/Travel/tr2.JPG) no-repeat center center fixed;-webkit-background-size: cover;background-size:cover;-moz-background-size:cover")
        section.box(id="education")
            div(style="text-align:center;margin-bottom:50px")
                span(class="fa-stack fa-5x")
                    i(class="fa fa-square fa-stack-2x")
                    i(class="fa fa-graduation-cap fa-stack-1x fa-inverse ")
                h1 EDUCATION
            .row
                .col-xs-4
                    .panel.panel-default.specific(style="border-radius: 10px;", ng-click="changeMode(0)")
                        .panel-body
                            h3(style="text-align:center") Education 1
                            hr(class="style-one")
                            p Details ...
                .col-xs-4
                    .panel.panel-default.specific(style="border-radius: 10px;",ng-click="changeMode(1)")
                        .panel-body
                            h3(style="text-align:center") Education 2
                            hr(class="style-one")
                            p Details ...
                .col-xs-4
                    .panel.panel-default.specific(style="border-radius: 10px;",ng-click="changeMode(2)")
                        .panel-body
                            h3(style="text-align:center") Education 3
                            hr(class="style-one")
                            p Details ...
            .row
                .col-xs-12
                    .panel.panel-default(style="border-radius: 10px;")
                        .panel-body
                            p Details ...
                            //details one
                            div(id="detailsOne", ng-show="mode==0")
                                p Details One

                            //details one
                            div(id="detailsTwo", ng-show="mode==1")
                                p Details Two

                            //details one
                            div(id="detailsThree", ng-show="mode==2")
                                p Details Three

        .emptyBox(style="height:500px;background:inherit")


    div(style="background: url(images/Travel/tr13.JPG) no-repeat center center fixed;-webkit-background-size: cover;background-size:cover;-moz-background-size:cover")
        section.box(id="experience")
            div(style="text-align:center")
                span(class="fa-stack fa-5x")
                    i(class="fa fa-square fa-stack-2x")
                    i(class="fa fa-road fa-stack-1x fa-inverse ")
                h1 EXPERIENCE

            .panel-group(id="accor")
                .panel.panel-default(ng-repeat="exp in experience")
                    .panel-heading.hoov(style-exp="{{experience.indexOf(exp)}}")
                            //p(data-toggle="collapse", data-parent="#accor", href="#theone",onclick="return false;") CrashTEst
                            .row.grow(data-toggle="collapse", data-parent="#accor", href="#the{{experience.indexOf(exp)}}",onclick="return false;")
                                .col-xs-1
                                .col-xs-1
                                    h1 {{exp.year}}
                                .col-xs-1
                                .col-xs-3(style="text-align:right;")
                                    h2 {{exp.nom}}
                                    p(style="font-size:15px") {{exp.duree}}, from {{exp.date_debut}} to {{exp.date_fin}}
                                    p(style="font-size:10px;font-style:italic") {{exp.website}}
                                .col-xs-5(style="margin-left:30px;border-left:1px dashed white;")
                                    h2 {{exp.titre}}
                                    p(style="font-size:15px;font-style:italic") {{exp.soustitre}}

                    div.panel-collapse.collapse(id="the{{experience.indexOf(exp)}}")
                        .panel-body
                            .row
                                .col-xs-6
                                    p(style="font-size:18px") {{exp.description}}
                                .col-xs-6
                                    .panel.panel-default.specific(style="border-radius: 5px;")
                                        .panel-body
                                            p Image explicative
                            h2 Context
                            p(style="font-size:18px")  {{exp.contexte}}
                            br
                            h2 Skills
                            .col-md-2(ng-repeat="skill in exp.skills", style="margin-bottom:10px")
                                .panel.panel-default.specific(style="border-radius: 5px;")
                                    .panel-body
                                        h5(style="text-align:center") {{skill.nom}}


        .emptyBox(style="height:500px;background:inherit")

    div(style="background: url(images/Pragues/pr2.JPG) no-repeat center center fixed; -webkit-background-size: cover;background-size:cover;-moz-background-size:cover")
        section.box(id="skills")
            div(style="text-align:center")
                span(class="fa-stack fa-5x")
                    i(class="fa fa-square fa-stack-2x")
                    i(class="fa fa-keyboard-o fa-stack-1x fa-inverse ")
                h1 COMPUTER SKILLS

            .device
                a.arrow-left
                a.arrow-right
                .swiper-container
                    .swiper-wrapper
                        .swiper-slide
                            img(src="images/Icons/grunt.png")
                        .swiper-slide
                            img(src="images/Icons/sails.png")
                        .swiper-slide
                            .content-slide
                                p.title Test
                                p Another stuff
                .pagination

            h4 Langages
            hr(class="style-three")
            .row
                button.btn.btn-default.col-md-2(ng-repeat="skill in skillLangages",style="margin-left:10px; margin-bottom:10px") {{skill.nom}}
                    br
                    .progress.progress-striped.active(style="margin-top:20px")
                        .progress-bar(style="width:{{skill.niveau}}%")

            h4 Front-end
            hr(class="style-three")
            .row
                button.btn.btn-default.col-md-2(ng-repeat="skill in skillFront",style="margin-left:10px; margin-bottom:10px") {{skill.nom}}
                    br
                    .progress.progress-striped.active(style="margin-top:20px")
                        .progress-bar(style="width:{{skill.niveau}}%")

            h4 Back-end
            hr(class="style-three")
            .row
                button.btn.btn-default.col-md-2(ng-repeat="skill in skillFront",style="margin-left:10px; margin-bottom:10px") {{skill.nom}}
                    br
                    .progress.progress-striped.active(style="margin-top:20px")
                        .progress-bar(style="width:{{skill.niveau}}%")

            h4 Other
            hr(class="style-three")
            .row
                .col-xs-5
                    h5 Versionning
                    button.btn.btn-default.col-md-4(ng-repeat="skill in skillVersion",style="margin-left:10px; margin-bottom:10px") {{skill.nom}}
                        br
                        .progress.progress-striped.active(style="margin-top:20px")
                            .progress-bar(style="width:{{skill.niveau}}%")
                .col-xs-5
                    h5 Methodologies
                    button.btn.btn-default.col-md-4(ng-repeat="skill in skillMethod",style="margin-left:10px; margin-bottom:10px") {{skill.nom}}
                        br
                        .progress.progress-striped.active(style="margin-top:20px")
                            .progress-bar(style="width:{{skill.niveau}}%")
            .row
                .col-xs-5
                    h5 Librairies
                    button.btn.btn-default.col-md-4(ng-repeat="skill in skillLib",style="margin-left:10px; margin-bottom:10px") {{skill.nom}}
                        br
                        .progress.progress-striped.active(style="margin-top:20px")
                            .progress-bar(style="width:{{skill.niveau}}%")
                .col-xs-5
                    h5 Tools
                    button.btn.btn-default.col-md-4(ng-repeat="skill in skillTools",style="margin-left:10px; margin-bottom:10px") {{skill.nom}}
                        br
                        .progress.progress-striped.active(style="margin-top:20px")
                            .progress-bar(style="width:{{skill.niveau}}%")

        .emptyBox(style="height:500px;background:inherit")

    div(style="background: url(images/Travel/tr14.JPG) no-repeat center center fixed; -webkit-background-size: cover;background-size:cover;-moz-background-size:cover")
        section.box(id="about")
            div.container-fluid(style="text-align:center;margin-bottom:60px")
                span(class="fa-stack fa-5x")
                    i(class="fa fa-square fa-stack-2x")
                    i(class="fa fa-coffee fa-stack-1x fa-inverse ")
                h1 ABOUT

            .row(style="margin-bottom:40px")
                .col-xs-4
                    .view.view-sixth.imgShadow
                        img(src="/images/Pragues/pr1.JPG", style="width:350px;height:300px")
                        .mask
                            h2 Eureopean Travels
                            p Praha - Pragues - Czech Repubublic
                .col-xs-4
                    .view.view-first.imgShadow
                        img(src="/images/About/caf.JPG", style="width:350px;height:300px")
                        .mask
                            h2 Coffee first
                            p Expresso to americano
                .col-xs-4
                    .view.view-eighth.imgShadow
                        img(src="/images/About/1.jpg", style="width:350px;height:300px")
                        .mask
                            h2 Mountain
                            p Pyrennees rocks
            .row(style="margin-bottom:40px")
                .col-xs-4
                    .view.view-eighth.imgShadow
                        img(src="/images/About/surf.jpg", style="width:350px;height:300px")
                        .mask
                            h2 Surfing
                            p Hossegor Beach - France
                .col-xs-4
                    .view.view-sixth.imgShadow
                        img(src="/images/About/4.jpg", style="width:350px;height:300px")
                        .mask
                            h2 Friends
                            p Long story...
                .col-xs-4
                    .view.view-first.imgShadow
                        img(src="/images/About/sun.jpg", style="width:350px;height:300px")
                        .mask
                            h2 Swedish Landscapes
                            p Linköping - Six Month - Sweden
            .row(style="margin-bottom:40px")
                .col-xs-4
                    .view.view-sixth.imgShadow
                        img(src="/images/About/viet.jpg", style="width:350px;height:300px")
                        .mask
                            h2 Asian Trips
                            p Ha Long Bay - Vietnam
                .col-xs-4
                    .view.view-first.imgShadow
                        img(src="/images/About/lac.jpg", style="width:350px;height:300px")
                        .mask
                            h2 Hicking in Pyrenees
                            p Camping & fishing
                .col-xs-4
                    .view.view-eighth.imgShadow
                        img(src="/images/About/can.jpg", style="width:350px;height:300px")
                        .mask
                            h2 Canada
                            p Poutines & Landscapes
            .col-xs-12
                .row(style="margin-bottom:30px")
                    .col-xs-5
                        hr(class="style-three")
                    .col-xs-2
                        p(style="text-align:center;font-size:25px") Places
                        p(style="text-align:center;font-size:13px;font-style:italic") Click on a marker type to hide it
                    .col-xs-5
                        hr(class="style-three")
                .row(style="text-align:center;margin-bottom:20px")
                    .col-xs-2
                    .col-xs-2
                        .panel.panel-default.specific(style="border-radius: 5px;", selected-mode="Holidays")
                            .panel-body
                                p City Holidays
                                img(src="images/Icons/blue-dot.png")
                    .col-xs-2
                        .panel.panel-default.specific(style="border-radius: 5px;", selected-mode="Work")
                            .panel-body
                                p Work
                                img(src="images/Icons/purple-dot.png")
                    .col-xs-2
                        .panel.panel-default.specific(style="border-radius: 5px;", selected-mode="Studies")
                            .panel-body
                                p Studies
                                img(src="images/Icons/red-dot.png")
                    .col-xs-2
                        .panel.panel-default.specific(style="border-radius: 5px;", selected-mode="Travels")
                            .panel-body
                                p Travels
                                img(src="images/Icons/letter_s.png")
                                img(src="images/Icons/letter_e.png")

                .row(style="margin-bottom:30px")
                    .col-xs-10.col-xs-offset-1
                        .form-group
                            .input-group
                                span.input-group-addon
                                    i(class="fa fa-search")
                                input(type="text", placeholder="Find a location..." ,typeahead-on-select="centerMap($item)", typeahead-template-url="customTemplate.html",ng-model="selected", typeahead="state for state in places | filter:$viewValue | limitTo:8", class="form-control")



                div(id="map-canvas")
            .row

        .emptyBox(style="height:500px;background:inherit")

    div(style="background: url(images/Pragues/pr6.JPG) no-repeat center center fixed; -webkit-background-size: cover;background-size:cover;-moz-background-size:cover")
        section.box(id="blog")
            div(style="text-align:center")
                span(class="fa-stack fa-5x")
                    i(class="fa fa-square fa-stack-2x")
                    i(class="fa fa-comment-o fa-stack-1x fa-inverse ")
                h1 BLOG
            h3(style='text-align:center') Currently under construction
        .emptyBox(style="height:500px;background:inherit")

    section.container-fluid(id="contact", style="background:#778899;color:white")
        div(style="text-align:center;margin-bottom:50px;margin-top:30px")
            h1(style="text-decoration:underline;") Contact
        .row(style="text-align:center")
            .col-xs-3.contact.grow(onclick="window.open('mailto:beardpierre@gmail.com?subject=Info%Or%Meeting', '_blank')")
                i(class="fa fa-paper-plane-o fa-3x fa-inverse ")
                h5 beardpierre@gmail.com
            .col-xs-3.contact.grow
                i(class="fa fa-phone fa-3x fa-inverse ")
                h5 (+33)6.33.37.08.52
                h5 French Number
            .col-xs-3.contact.grow(onclick="window.open('http://github.com/PBRT', '_blank')")
                i(class="fa fa-github fa-3x fa-inverse ")
                h5 @PBRT
            .col-xs-3.contact.grow(onclick="window.open('http://fr.linkedin.com/pub/pierre-beard/62/690/4b0/', '_blank')")
                i(class="fa fa-linkedin-square fa-3x fa-inverse ")
                h5 LinkedIn

script(type="text/ng-template", id="customTemplate.html")
    a()
        p
            p {{match.model.nom}}
                i.pull-left(icone-search="{{match.model.type}}", style="margin-right:10%; margin-bottom:4px")