div(ng-init="init()", anim="fadeIn")

    div(style="background: url(images/Travel/tr15.JPG) no-repeat center center fixed;-webkit-background-size: cover;background-size:cover;-moz-background-size:cover")
        section.box(id="home")
            div(style="text-align:center;width:100%")

                    img.imgShadow.arrondie2(src="dist/images/PBRT.png")
                    h1 {{home}}
                    h4(style="font-style:italic") {{homeDescription}}


            .row(style="text-align:center;margin-top:80px")
                .col-xs-4(style="color:#386C8C")
                    span(class="fa-stack fa-4x")
                        i(class="fa fa-square fa-stack-2x")
                        i(class="fa fa-cloud fa-stack-1x fa-inverse ")
                    h3 Back End
                    h5(style='font-style:italic') RESTful APIS development based on Node.js
                .col-xs-4(style="color:#386C8C")
                    span(class="fa-stack fa-4x")
                        i(class="fa fa-square fa-stack-2x")
                        i(class="fa fa-mobile fa-stack-1x fa-inverse ")
                    h3 Mobile Development
                    h5(style="font-style:italic") Native and Web Android Application
                .col-xs-4(style="color:#386C8C")
                    span(class="fa-stack fa-4x")
                        i(class="fa fa-square fa-stack-2x")
                        i(class="fa fa-desktop fa-stack-1x fa-inverse ")
                    h3 User Interface Design
                    h5(style="font-style:italic") User Experience First
            .row(style="margin-top:80px")
                .col-xs-10.col-xs-offset-1
                    hr(class="style-three")

            .row(style="text-align:center;margin-top:50px")
                h2(style="margin-bottom:50px") Website built with the latest web technologies
                .col-xs-4(onclick="window.open('https://sailsjs.org/#!', '_blank')")
                    .panel.panel-default.specific(style="border-radius: 10px;", ng-click="changeMode(0)")
                        .panel-body
                            img(src="/images/Icons/sails.png", style="width:250px;height:100px")
                            h4 SailsJS (Back-end based on NodeJS)

                .col-xs-4(onclick="window.open('http://getbootstrap.com/', '_blank')")
                    .panel.panel-default.specific(style="border-radius: 10px;", ng-click="changeMode(0)")
                        .panel-body
                            img(src="/images/Icons/bootstrap.png", style="width:100px;height:100px")
                            h4 Bootstrap (Built to be responsive)

                .col-xs-4(onclick="window.open('http://angularjs.org/', '_blank')")
                    .panel.panel-default.specific(style="border-radius: 10px;", ng-click="changeMode(0)")
                        .panel-body
                            img(src="/images/Icons/angular.png", style="width:100px;height:100px")
                            h4 AngularJS (Front-end)



        .emptyBox(style="height:500px;background:inherit")

    div(style="background: url(images/Travel/tr2.JPG) no-repeat center center fixed;-webkit-background-size: cover;background-size:cover;-moz-background-size:cover")
        section.box(id="education")
            div(style="text-align:center;margin-bottom:50px;color:#386C8C")
                span(class="fa-stack fa-5x")
                    i(class="fa fa-square fa-stack-2x")
                    i(class="fa fa-graduation-cap fa-stack-1x fa-inverse ")
                h1 EDUCATION
            .row
                .col-xs-4(ng-repeat="ed in education")
                    div(ng-click="redirecto(ed)")
                        .panel.panel-default.specific(style="border-radius: 10px;", ng-click="changeMode(0)")
                            .panel-body
                                p(style="text-align:center;font-size:25px") {{ed.nom}}
                                img.center-block(src="{{ed.img}}", style="width:120px;height:120px")
                                hr(class="style-one")
                                p(style="text-align:center;font-size:17px") {{ed.sub}}
                                br
                                p(style="font-size:14px") {{ed.description}}







        .emptyBox(style="height:500px;background:inherit")


    div(style="background: url(images/Travel/tr13.JPG) no-repeat center center fixed;-webkit-background-size: cover;background-size:cover;-moz-background-size:cover")
        section.box(id="experience")
            div(style="text-align:center;color:#386C8C;margin-bottom:40px")
                span(class="fa-stack fa-5x")
                    i(class="fa fa-square fa-stack-2x")
                    i(class="fa fa-road fa-stack-1x fa-inverse ")
                h1 EXPERIENCE

            .panel-group(id="accor")
                .panel.panel-default(ng-repeat="exp in experience")
                    .panel-heading.hoov(style-exp="{{experience.indexOf(exp)}}")
                            //p(data-toggle="collapse", data-parent="#accor", href="#theone",onclick="return false;") CrashTEst
                            .row.grow(data-toggle="collapse", data-parent="#accor", href="#the{{experience.indexOf(exp)}}",onclick="return false;")
                                .col-xs-1
                                .col-xs-1
                                    h1 {{exp.year}}
                                .col-xs-1
                                .col-xs-3(style="text-align:right;")
                                    h2 {{exp.nom}}
                                    p(style="font-size:15px") {{exp.duree}}, from {{exp.date_debut}} to {{exp.date_fin}}
                                    p(style="font-size:10px;font-style:italic") {{exp.website}}
                                .col-xs-5(style="margin-left:30px;border-left:1px dashed white;")
                                    h2 {{exp.titre}}
                                    p(style="font-size:15px;font-style:italic") {{exp.soustitre}}

                    div.panel-collapse.collapse(id="the{{experience.indexOf(exp)}}")
                        .panel-body
                            .row
                                .col-xs-6
                                    p(style="font-size:18px") {{exp.description}}
                                    h2 Context
                                    p(style="font-size:18px")  {{exp.contexte}}
                                .col-xs-6
                                    .panel.panel-default.specific(style="border-radius: 5px;")
                                        .panel-body
                                                img.center-block(src="{{exp.image}}")

                            br
                            h2 Skills
                            .col-md-2(ng-repeat="skill in exp.skills", style="margin-bottom:10px")
                                .panel.panel-default.specific(style="border-radius: 5px;")
                                    .panel-body
                                        h5(style="text-align:center") {{skill.nom}}

            .row(style="margin-top:100px; margin-bottom:80px")
                .col-xs-1
                .col-xs-8
                    .row
                        i(class="fa fa-quote-left fa-5x pull-left fa-border")
                        p(style="font-size:25px") You can find all my personals projects on my GitHub Page. Check out Android, Angular, Node and others hot projects and leave me a comment ! Most of these projects has been developed in order to discover and manipulate new technologies. Click on the logo to check it out!
                        p(style="font-size:19px") You will find the "Shortcut Browser", a Angular Web Application available on heroku, developed to make car pooling easier. You can check it at : http://shortcutbrowser.herokuapp.com

                .col-xs-2(style="color:#386C8C",onclick="window.open('http://github.com/PBRT', '_blank')")
                    span(class="fa-stack fa-5x")
                        i(class="fa fa-square fa-stack-2x")
                        i.contact(class="fa fa-github fa-stack-1x fa-inverse ")

        .emptyBox(style="height:500px;background:inherit")

    div(style="background: url(images/Pragues/pr2.JPG) no-repeat center center fixed; -webkit-background-size: cover;background-size:cover;-moz-background-size:cover")
        section.box(id="skills")
            div(style="text-align:center;margin-bottom:40px;color:#386C8C")
                span(class="fa-stack fa-5x")
                    i(class="fa fa-square fa-stack-2x")
                    i(class="fa fa-keyboard-o fa-stack-1x fa-inverse ")
                h1 COMPUTER SKILLS - HOT OR NOT
                h2(style="font-size:20px") Am I get the skills you need ? Like, swipe or dislike my skills on the phone bellow and check the results

            .row
                .col-xs-3(style="margin-top:30px")
                    .list-group
                        .list-group-item.active(style="background:#3A9A20")
                            i.fa.fa-heart-o.fa-4x.pull-left(style="color:white")
                            h5(style="font-size:25px") Matched Skills

                        .list-group-item(ng-repeat="skill in likedSkills")
                            .row(style="margin-top:15px")
                                .col-xs-4
                                    p {{skill.nom}}
                                .col-xs-6
                                    .progress.progress-striped.active
                                        .progress-bar.progress-bar-success(style="width:{{skill.niveau}}%")

                .col-xs-6.center-block
                    .device
                        .swiper-container(swiper-directive)
                            .swiper-wrapper
                                    .swiper-slide(ng-repeat="skill in skills",swiper-slide, style="text-align:center")
                                        img(src="{{skill.img}}", style="height:280px;width:250px;margin-top:20px")
                                        hr.style-four
                                        h5.pull-left(style="margin-top:-15px;margin-left:10px") {{skill.nom}}
                                            i(style="margin-left:20px") -- {{skill.type}}
                                        hr.style-four(style="margin-top:30px")
                                    .swiper-slide(style="padding-top:100px;text-align:center;background:black;color:white")
                                        h3 No more skills, reload to do it again or click on reset
                                        button.btn.btn-default(ng-click="resetSwipe()", style="margin-top:50x") Reset

                        .col-xs-6.center-block.greenHover(ng-click="checkSkill()", ng-disabled="endOfSkills")
                            i.fa.fa-thumbs-o-up.fa-4x(style="color:white")
                        .col-xs-6.center-block.redHover(ng-click="deleteSkill()", ng-disabled="endOfSkills")
                            i.fa.fa-thumbs-o-down.fa-4x(style="color:white")

                        h2(style="text-align:center;margin-top:90px;color:white") PBRT
                    .pagination

                    .list-group-item.active.center-block(style="width:80%;margin-top:80px",ng-if="endOfSkills")
                        h5(style="font-size:25px;text-align:center") Results
                    .list-group-item.center-block(style="width:80%;text-align:center", ng-if="awesome && endOfSkills")
                        h1 You liked more than 50 % of my skills, AWESOME
                        i.fa.fa-check-circle-o.fa-5x
                    .list-group-item.center-block(style="width:80%;text-align:center", ng-if="!awesome && endOfSkills")
                        h1 I think we do not use the same technologies, write me to discuss about it
                        i.fa.fa-question-circle.fa-5x


                .col-xs-3(style="margin-top:30px")
                    .list-group
                        .list-group-item.active(style="background:#C71624")
                            i.fa.fa-heart-o.fa-4x.pull-left(style="color:white")
                            h5(style="font-size:25px") Dismissed Skills
                        .list-group-item(ng-repeat="skill in dislikedSkills")
                            .row(style="margin-top:15px")
                                .col-xs-4
                                    p {{skill.nom}}
                                .col-xs-6
                                    .progress.progress-striped.active
                                        .progress-bar.progress-bar-danger(style="width:{{skill.niveau}}%")


        .emptyBox(style="height:500px;background:inherit")

    div(style="background: url(images/Travel/tr14.JPG) no-repeat center center fixed; -webkit-background-size: cover;background-size:cover;-moz-background-size:cover")
        section.box(id="about")
            div.container-fluid(style="text-align:center;margin-bottom:60px;color:#386C8C")
                span(class="fa-stack fa-5x")
                    i(class="fa fa-square fa-stack-2x")
                    i(class="fa fa-coffee fa-stack-1x fa-inverse ")
                h1 ABOUT

            .row(style="margin-bottom:40px")
                .col-xs-4
                    .view.view-sixth.imgShadow
                        img(src="/images/Pragues/pr1.JPG", style="width:350px;height:300px")
                        .mask
                            h2 Eureopean Travels
                            p Praha - Pragues - Czech Repubublic
                .col-xs-4
                    .view.view-first.imgShadow
                        img(src="/images/About/caf.JPG", style="width:350px;height:300px")
                        .mask
                            h2 Coffee first
                            p Expresso to americano
                .col-xs-4
                    .view.view-eighth.imgShadow
                        img(src="/images/About/1.jpg", style="width:350px;height:300px")
                        .mask
                            h2 Mountain
                            p Pyrennees rocks
            .row(style="margin-bottom:40px")
                .col-xs-4
                    .view.view-eighth.imgShadow
                        img(src="/images/About/surf.jpg", style="width:350px;height:300px")
                        .mask
                            h2 Surfing
                            p Hossegor Beach - France
                .col-xs-4
                    .view.view-sixth.imgShadow
                        img(src="/images/About/4.jpg", style="width:350px;height:300px")
                        .mask
                            h2 Friends
                            p Long story...
                .col-xs-4
                    .view.view-first.imgShadow
                        img(src="/images/About/sun.jpg", style="width:350px;height:300px")
                        .mask
                            h2 Swedish Landscapes
                            p Linköping - Six Month - Sweden
            .row(style="margin-bottom:40px")
                .col-xs-4
                    .view.view-sixth.imgShadow
                        img(src="/images/About/viet.jpg", style="width:350px;height:300px")
                        .mask
                            h2 Asian Trips
                            p Ha Long Bay - Vietnam
                .col-xs-4
                    .view.view-first.imgShadow
                        img(src="/images/About/lac.jpg", style="width:350px;height:300px")
                        .mask
                            h2 Hicking in Pyrenees
                            p Camping & fishing
                .col-xs-4
                    .view.view-eighth.imgShadow
                        img(src="/images/About/can.jpg", style="width:350px;height:300px")
                        .mask
                            h2 Canada
                            p Poutines & Landscapes
            .col-xs-12
                .row(style="margin-bottom:30px")
                    .col-xs-5
                        hr(class="style-three")
                    .col-xs-2
                        p(style="text-align:center;font-size:25px") Places
                        p(style="text-align:center;font-size:13px;font-style:italic") Click on a marker type to hide it
                    .col-xs-5
                        hr(class="style-three")
                .row(style="text-align:center;margin-bottom:20px")
                    .col-xs-2
                    .col-xs-2
                        .panel.panel-default.specific(style="border-radius: 5px;", selected-mode="Holidays")
                            .panel-body
                                p City Holidays
                                img(src="images/Icons/blue-dot.png")
                    .col-xs-2
                        .panel.panel-default.specific(style="border-radius: 5px;", selected-mode="Work")
                            .panel-body
                                p Work
                                img(src="images/Icons/purple-dot.png")
                    .col-xs-2
                        .panel.panel-default.specific(style="border-radius: 5px;", selected-mode="Studies")
                            .panel-body
                                p Studies
                                img(src="images/Icons/red-dot.png")
                    .col-xs-2
                        .panel.panel-default.specific(style="border-radius: 5px;", selected-mode="Travels")
                            .panel-body
                                p Travels
                                img(src="images/Icons/letter_s.png")
                                img(src="images/Icons/letter_e.png")

                .row(style="margin-bottom:30px")
                    .col-xs-10.col-xs-offset-1
                        .form-group
                            .input-group
                                span.input-group-addon
                                    i(class="fa fa-search")
                                input(type="text", placeholder="Find a location..." ,typeahead-on-select="centerMap($item)", typeahead-template-url="customTemplate.html",ng-model="selected", typeahead="state for state in places | filter:$viewValue | limitTo:8", class="form-control")



                div(id="map-canvas")
            .row

        .emptyBox(style="height:500px;background:inherit")

    div(style="background: url(images/Pragues/pr6.JPG) no-repeat center center fixed; -webkit-background-size: cover;background-size:cover;-moz-background-size:cover")
        section.box(id="blog")
            div(style="text-align:center;color:#386C8C")
                span(class="fa-stack fa-5x")
                    i(class="fa fa-square fa-stack-2x")
                    i(class="fa fa-comment-o fa-stack-1x fa-inverse ")
                h1 BLOG
            h3(style='text-align:center') Currently under construction
        .emptyBox(style="height:500px;background:inherit")

    section.container-fluid(id="contact", style="background:#193E70;color:white")
        div(style="text-align:center;margin-bottom:50px;margin-top:30px")
            h1(style="text-decoration:underline;") Contact
        .row(style="text-align:center")
            .col-xs-3.contact.grow(onclick="window.open('mailto:beardpierre@gmail.com?subject=Info%Or%Meeting', '_blank')")
                i(class="fa fa-paper-plane-o fa-3x fa-inverse ")
                h5 beardpierre@gmail.com
            .col-xs-3.contact.grow
                i(class="fa fa-phone fa-3x fa-inverse ")
                h5 (+33)6.33.37.08.52
                h5 French Number
            .col-xs-3.contact.grow(onclick="window.open('http://github.com/PBRT', '_blank')")
                i(class="fa fa-github fa-3x fa-inverse ")
                h5 @PBRT
            .col-xs-3.contact.grow(onclick="window.open('http://fr.linkedin.com/pub/pierre-beard/62/690/4b0/', '_blank')")
                i(class="fa fa-linkedin-square fa-3x fa-inverse ")
                h5 LinkedIn

script(type="text/ng-template", id="customTemplate.html")
    a()
        p
            p {{match.model.nom}}
                i.pull-left(icone-search="{{match.model.type}}", style="margin-right:10%; margin-bottom:4px")