!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')

    title Software do it better

    // --------------------------- LIBS ----------------------------------------//
    //Google Maps
    script(src="https://maps.googleapis.com/maps/api/js?v=3.exp")

    //Icons
    link(href="/css/font-awesome-4.1.0/css/font-awesome.min.css", rel="stylesheet")


    // --------------------------- APP----------------------------------------//
    //Application minimifiée
    link(rel="stylesheet", href='dist/app.min.css')
    script(src='dist/app.min.js')

  body(ng-controller="MainCtrl",style="background: url(images/Travel/tr1.JPG) no-repeat center center fixed;background-size:cover")


      .container-fluid
          .navbar.navbar-default.navbar-fixed-top(role='navigation', ng-if="displayHome")
              .navbar-header
                  a.navbar-brand(style="color:#F1F2F4;font-size:25px",href="#main",du-smooth-scroll, du-scrollspy, offset="50", anim="slideInLeft") PBRT (#Whatever)
              ul.nav.navbar-nav.pull-right
                li#yolo(ng-repeat="item in menu", navtab, navtab-item="{{item}}", navtab-rang="{{item.rang}}")
                    a(href="{{item.url}}", style="color:#F1F2F4;font-size:20px",du-smooth-scroll, du-scrollspy, offset="50") {{item.name}}

      block body