@import "variables.less";
 
// add your style here
@navbar-default-color:             red;
@navbar-default-bg:                #193E70;

@text-color:                       #445566;

@import "bootstrap.less";